header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opac-footer {
  display: flex;
  justify-content: space-between;
}

.opac-landing-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 15px;
  -ms-grid-columns: 2fr 15px 1fr 15px 1fr;
  -ms-grid-rows: 300px 15px 300px;
  margin-bottom: 2em;
}

a.opac-tile {
  background-color: #093569;
  color: #d2d8e3;
  text-decoration: none;
  &:hover {
    background-color: #000;
  }
}

.opac-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;

  &.search {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  &.join {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  &.events {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  &.login {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  &.email {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  &.website {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}
