<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsutherlandshirelibraries%2Fvideos%2F546714749306245%2F&amp;show_text=0" allowtransparency="true" allowfullscreen="true"></iframe>
</div>

<h2>More Storytimes</h2>

<div class="main-carousel" data-flickity='{ "freeScroll": true }'>

  <div class="carousel-cell" style="width:200px;">
    <div class="thumbnail">
      <a href="#"><img
          src="http://www.sutherlandshire.nsw.gov.au/files/content/website/community/library/services/kids-amp-parents/storytime/storytime-online-with-ali-and-jo/jo-storytime.jpg?w=260"/></a>
      <div class="caption">
        <h3><a href="#">Storytime with Ali and Jo</a></h3>
        <p><span class="event-date">Thursday, 2 April</span></p>
      </div>
    </div>
  </div>
  <div class="carousel-cell" style="width:200px;">
    <div class="thumbnail">
      <a href="#"><img
          src="http://www.sutherlandshire.nsw.gov.au/files/content/website/community/library/services/kids-amp-parents/storytime/storytime-online-with-ali-and-jo/jo-storytime.jpg?w=260"/></a>
      <div class="caption">
        <h3><a href="#">Storytime with Ali and Jo</a></h3>
        <p><span class="event-date">Monday, 6 April</span></p>
      </div>
    </div>
  </div>
  <div class="carousel-cell" style="width:200px;">
    <div class="thumbnail">
      <a href="#"><img
          src="http://www.sutherlandshire.nsw.gov.au/files/content/website/community/library/services/kids-amp-parents/storytime/storytime-online-with-ali-and-jo/jo-storytime.jpg?w=260"/></a>
      <div class="caption">
        <h3><a href="#">Storytime with Ali and Jo</a></h3>
        <p><span class="event-date">Tuesday, 7 April</span></p>
      </div>
    </div>
  </div>
</div>
