<div class="opac-landing-grid">
    <a class="opac-tile search" href="https://encore.sutherlandshire.nsw.gov.au/">
      <div class="text">
        <h2><i class="icon h1" data-icon="&#xe01c;"></i> Search the Catalogue</h2>
        <p>Find books, DVDs, magazines, music and more in our collection&hellip;</p>
      </div>
    </a>
    <a class="opac-tile join" href="https://www.sutherlandshire.nsw.gov.au/Community/Library/Membership/Join-the-Library">
      <div class="text">
        <h2 class="h3"><i class="icon h2" data-icon="&#xe024;"></i> Join the Library</h2>
        <p>Become a member of Sutherland Shire Libraries&hellip;</p>
      </div>
    </a>
    <a class="opac-tile events" href="https://www.sutherlandshire.nsw.gov.au/Community/Library/Whats-On">
      <div class="text">
        <h2 class="h3"><i class="icon h2" data-icon="&#xe602;"></i> Library Events</h2>
        <p>See What's on at the Library reserve your place&hellip;</p>
      </div>
    </a>
    <a class="opac-tile login" href="https://encore.sutherlandshire.nsw.gov.au/iii/encore/myaccount">
      <div class="text">
        <h2 class="h3"><i class="icon h1" data-icon="&#xe019;"></i> Login to My Account</h2>
        <p>Renew your loans, request items, update your details and more&hellip;</p>
      </div>
    </a>
    <a class="opac-tile survey" href="https://jointheconversation.sutherlandshire.nsw.gov.au/library-customersurvey2019">
      <div class="text">
        <h2 class="h3"><i class="icon h2" data-icon="&#xe605;"></i> Customer Survey</h2>
        <p>Tell us what you think of your libraries and library services and go in the draw to win a $50 Event Cinemas voucher&hellip;</p>
      </div>
    </a>
    <a class="opac-tile email" href="http://eepurl.com/M09RH">
      <div class="text">
        <h2 class="h3"><i class="icon h2" data-icon="&#xe02a;"></i> Email Newsletters</h2>
        <p>Subscribe to receive email updates from the Library&hellip;</p>
      </div>
    </a>
    <a class="opac-tile website" href="https://www.sutherlandshire.nsw.gov.au/Community/Library">
      <div class="text">
        <h2 class="h3"><i class="icon h2" data-icon="&#xe02c;"></i> Library Website</h2>
        <p>Services and Programs, digital collections and more&hellip;</p>
      </div>
    </a>
  </div>
